<table class="table">
    <div ui-view> </div>
    <tr>
        <td>
            <h3>categories</h3>
        </td>
       <td></td>
       <td></td>
    </tr>
    <tr ng-repeat="category in categories">
        <td><a class="btn btn-default" ng-click="controller.viewCategory({id:category.id})">
                {{category.name}}</a></td>
        <td>{{category.description}} {{category.count}}</td>
        <td>
            <div ng-show="category.child_categories">
                <a class="btn btn-default" ng-click="controller.viewCategoryAsRoot({id:category.id})">
                <span class="badge">{{category.child_categories.length}}</span></a>
            </div>
        </td>
    </tr>
</table>
