<div class="jumpotron">
  <div class="container-fluid">
    <div class="row">
      <div class='col-xs-4'>
        <h1>About</h1>
      </div>
    </div>

    <div class="row">
      <div class='col-xs-12 col-lg-8'>
        <img holder data-src="holder.js/200x200" class="img-thumbnail welcome-about-img">
      </div>
    </div>

    <div class="row">
      <div class='col-xs-12 col-lg-8'>
        <p class='welcome-about'>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque a pharetra leo. Nunc tincidunt risus velit, vitae maximus sem convallis quis. Cras nibh massa, pulvinar vestibulum enim et, laoreet lacinia dui. Nulla malesuada ut sem sed congue. Sed non placerat tellus. Aenean metus magna, mollis a sodales a, mollis quis arcu. Integer eu vestibulum risus. Morbi a turpis eu felis fermentum viverra quis vel turpis. Vestibulum tempus, enim quis scelerisque cursus, mi ligula vehicula mauris, quis consequat odio augue vel velit.

          Cras varius scelerisque ornare. Cras eget turpis eget sem euismod pulvinar. Vivamus ante felis, venenatis venenatis accumsan in, ornare eget ligula. Curabitur ornare sagittis ullamcorper. Sed sollicitudin erat a nisl porttitor, vel pretium ante euismod. Etiam pellentesque sapien a tellus sodales ornare. Vivamus arcu nisi, ultricies nec nisl a, lobortis molestie nisl. Nunc et maximus sem. Sed augue mi, tempor non purus ac, luctus mattis massa. Mauris ac leo nec ipsum feugiat maximus. Proin congue augue purus, finibus tincidunt erat vehicula a. Phasellus mattis, dui a tristique condimentum, enim sapien maximus eros, eu condimentum velit lectus sed mauris. Maecenas dapibus, orci sed placerat scelerisque, leo ligula euismod metus, sed lobortis dolor lectus sed magna.

          Sed commodo eu nulla eget auctor. Maecenas vel scelerisque eros. Aliquam sit amet nunc et urna ultrices ultricies. Nulla laoreet commodo enim elementum pellentesque. Etiam porttitor orci nec justo mattis scelerisque. Vestibulum fringilla elit et quam condimentum rutrum. Pellentesque a risus feugiat, mattis mauris id, commodo nisl. Mauris porttitor, tellus nec commodo vehicula, diam felis varius mi, in convallis sapien ipsum ut tortor. Phasellus sed rhoncus lacus. Curabitur ultricies, mauris sit amet condimentum fermentum, neque massa pharetra eros, a mattis lacus sapien non ex. Phasellus interdum nibh eu massa mattis vulputate. In hac habitasse platea dictumst. Quisque ac elit enim. Duis vel urna vulputate, bibendum lacus nec, ornare quam. Phasellus pellentesque a orci in tempus.
      </p>

    </div>
  </div>




  </div>
</div>
