
<h5>{{controller.title}}</h5>


<div class="container">
  <div class="panel panel-default">

    <div class="panel-heading">
        <p>Displaying {{controller.currentIdx + 1}} of
        {{controller.maxIdx + 1}}</p>
    </div>

    <ul class="pager">
      <li class="previous" ng-class="{disabled:{{controller.currentIdx > 0}}}"><a href ng-click="controller.prev()">prev</a></li>
      <li class="next" ng-class="{disabled:{{controller.currentIdx >= controller.maxIdx}}}"><a href ng-click="controller.next()">next</a></li>
    </ul>

    <div class="panel-body well">
      <h2 class="playback-content playback-question">{{controller.question()}}</h2>
    </div>
  </div>
  <!--<div class="container" spring-pagination></div> -->
</div>

